In [7]:
!pip install pyodbc
!pip install pandas

Requirement already satisfied: pyodbc in e:\anaconda\lib\site-packages (5.2.0)
Requirement already satisfied: pandas in e:\anaconda\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in e:\anaconda\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\anaconda\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\anaconda\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in e:\anaconda\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in e:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [12]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in e:\anaconda\lib\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in e:\anaconda\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in e:\anaconda\lib\site-packages (from sqlalchemy) (4.12.2)

In [8]:
import sys
!{sys.executable} -m pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-5.3.0-cp311-cp311-win_amd64.whl.metadata (2.8 kB)
Downloading pyodbc-5.3.0-cp311-cp311-win_amd64.whl (69 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-5.3.0

In [11]:
import sys
!{sys.executable} -m pip install pymssql

Requirement already satisfied: pymssql in e:\anaconda\envs\da\lib\site-packages (2.3.8)

In [43]:
from sqlalchemy import create_engine
import pandas as pd

# Set up connection string for Windows Authentication
server = 'NISHISONI\\SQLEXPRESS'
database = 'Retail_sales'
driver = 'ODBC Driver 17 for SQL Server'

# SQLAlchemy connection string
connection_string = f"mssql+pyodbc://@{server}/{database}?driver={driver.replace(' ', '+')}&trusted_connection=yes"

# Create engine
engine = create_engine(connection_string)

# Query your table
query_Products = "SELECT * FROM Products_Staging"
query_Dates= "SELECT * FROM Date_Staging"
query_Customers= "SELECT  * FROM Customers_Staging"
query_Sales= "SELECT  * FROM Sales_Staging"
query_Stores= "SELECT * FROM Stores_Staging"

# Read both tables into separate DataFrames
df_products = pd.read_sql(query_Products, engine)
df_dates = pd.read_sql(query_Dates, engine)
df_customers = pd.read_sql(query_Customers, engine)
df_Sales = pd.read_sql(query_Sales, engine)
df_Stores = pd.read_sql(query_Stores, engine)
# Show both results
print("Products Table:")
print(df_products.head())
print("\nDates Table:")
print(df_dates.head())
print("\nCustomers Table:")
print(df_customers.head())
print("\nSales Table:")
print(df_Sales.head())
print("\nStores Table:")
print(df_Stores.head())

Products Table:
  ProductID           ProductName               Category SubCategory  \
0    P00001           Aurora Ring  Jewelry & Accessories       Rings
1    P00002  MapleLeaf Smartwatch            Electronics  Smartwatch
2    P00003     EverGlow Earrings  Jewelry & Accessories    Earrings
3    P00004  BlueSpruce Furniture         Home & Kitchen   Furniture
4    P00005     AuroraCo Earrings  Jewelry & Accessories    Earrings

        Brand   CostPrice  SellingPrice  CleanedCostPrice  CleanedSellingPrice
0    Vaarnika   15.000000     39.000000             15.00                39.00
1   MapleLeaf  253.899994    420.910004            253.90               420.91
2    EverGlow   11.480000     17.430000             11.48                17.43
3  BlueSpruce  312.320007    377.190002            312.32               377.19
4    AuroraCo  467.029999    777.340027            467.03               777.34

Dates Table:
      DateKey        Date  Day  MonthNumber MonthName  Quarter  Year  \
0  2019-01-01  2019-01-01    1            1   January      1.0  2019
1  2019-01-02  2019-01-02    2            1   January      1.0  2019
2  2019-01-03  2019-01-03    3            1   January      1.0  2019
3  2019-01-04  2019-01-04    4            1   January      1.0  2019
4  2019-01-05  2019-01-05    5            1   January      1.0  2019

   WeekNumber  ID
0           1   1
1           1   2
2           1   3
3           1   4
4           1   5

Customers Table:
  CustomerID       FullName  Gender  Age         City            Region  \
0     C00001   Nishi  Patel  Female   27      Toronto           Ontario
1     C00002      Zara  Das   Other   59  Mississauga           Ontario
2     C00003    Ethan  Chen  Female   65    Vancouver  British Columbia
3     C00004  Alex  Johnson    None   44     Montreal            Quebec
4     C00005   Aria  Martin   Other   60    Vancouver  British Columbia

          Income  CleanedIncome
0        $65,000        65000.0
1       $24500.0        24500.0
2      25800.0$         25800.0
3  CAD 127,500.0       127500.0
4      37300.0$         37300.0

Sales Table:
     SaleID     DateKey ProductID CustomerID StoreID  QuantitySold  \
0  S0000001    20230413    P00698     C03304   ST023            13
1  S0000002    20200728    P00969     C01751   ST022             4
2  S0000003    20190205    P00829     C07584   ST015             1
3  S0000004  21/04/2021    P00336     C07513   ST008            10
4  S0000005    20241220    P00335     C02899   ST018             5

    UnitPrice  DiscountPct  TotalAmount    NetAmount PaymentMethod  \
0  107.209999       0.1171  1393.729980  1230.520020   Credit Card
1  108.500000       0.8500   434.000000    65.099998   Credit Card
2   23.049999       0.1591    23.049999    19.379999   Credit Card
3  151.110001       0.0827  1511.099976  1386.130005        Online
4   38.119999       0.0248   190.600006   185.869995    Debit Card

  CleanedDate  IsInvalidDate  CleanedUnitPrice  CleanedDiscountPct  \
0  2023-04-13          False            107.21              0.1171
1  2020-07-28          False            108.50              0.8500
2  2019-02-05          False             23.05              0.1591
3  2021-04-21          False            151.11              0.0827
4  2024-12-20          False             38.12              0.0248

   CleanedTotalAmount  CleanedNetAmount CleanedPaymentMethod
0             1393.73           1230.52          Credit Card
1              434.00             65.10          Credit Card
2               23.05             19.38          Credit Card
3             1511.10           1386.13               Online
4              190.60            185.87           Debit Card

Stores Table:
  StoreID                StoreName       City            Region    Manager
0   ST001         Downtown Toronto    Toronto           Ontario   A. Singh
1   ST002                Polo Park   Edmonton           Alberta     J. Roy
2   ST003  Metropolis at Metrotown   Winnipeg          Manitoba  P. Nguyen
3   ST004  Halifax Shopping Centre    Toronto           Ontario  T. Nguyen
4   ST005                Polo Park  Vancouver  British Columbia    T. Chen

In [69]:
# Shape and column check----product
print(df_products.shape)
print(df_products.columns)
# Null values
print(df_products.isnull().sum())
# Data types
print(df_products.dtypes)

# Sample data
print(df_products.head())

(1000, 9)
Index(['ProductID', 'ProductName', 'Category', 'SubCategory', 'Brand',
       'CostPrice', 'SellingPrice', 'CleanedCostPrice', 'CleanedSellingPrice'],
      dtype='object')
ProductID              0
ProductName            0
Category               0
SubCategory            0
Brand                  0
CostPrice              0
SellingPrice           0
CleanedCostPrice       0
CleanedSellingPrice    0
dtype: int64
ProductID               object
ProductName             object
Category                object
SubCategory             object
Brand                   object
CostPrice              float64
SellingPrice           float64
CleanedCostPrice       float64
CleanedSellingPrice    float64
dtype: object
  ProductID           ProductName               Category SubCategory  \
0    P00001           Aurora Ring  Jewelry & Accessories       Rings
1    P00002  MapleLeaf Smartwatch            Electronics  Smartwatch
2    P00003     EverGlow Earrings  Jewelry & Accessories    Earrings
3    P00004  BlueSpruce Furniture         Home & Kitchen   Furniture
4    P00005     AuroraCo Earrings  Jewelry & Accessories    Earrings

        Brand   CostPrice  SellingPrice  CleanedCostPrice  CleanedSellingPrice
0    Vaarnika   15.000000     39.000000             15.00                39.00
1   MapleLeaf  253.899994    420.910004            253.90               420.91
2    EverGlow   11.480000     17.430000             11.48                17.43
3  BlueSpruce  312.320007    377.190002            312.32               377.19
4    AuroraCo  467.029999    777.340027            467.03               777.34

In [33]:
# Shape and column check----Dates
print(df_dates.shape)
print(df_dates.columns)
# Null values
print(df_dates.isnull().sum())
# Data types
print(df_dates.dtypes)

# Sample data
print(df_dates.head())

(5, 9)
Index(['DateKey', 'Date', 'Day', 'MonthNumber', 'MonthName', 'Quarter', 'Year',
       'WeekNumber', 'ID'],
      dtype='object')
DateKey        0
Date           0
Day            0
MonthNumber    0
MonthName      0
Quarter        0
Year           0
WeekNumber     0
ID             0
dtype: int64
DateKey         object
Date            object
Day              int64
MonthNumber      int64
MonthName       object
Quarter        float64
Year             int64
WeekNumber       int64
ID               int64
dtype: object
      DateKey        Date  Day  MonthNumber MonthName  Quarter  Year  \
0  2019-01-01  2019-01-01    1            1   January      1.0  2019
1  2019-01-02  2019-01-02    2            1   January      1.0  2019
2  2019-01-03  2019-01-03    3            1   January      1.0  2019
3  2019-01-04  2019-01-04    4            1   January      1.0  2019
4  2019-01-05  2019-01-05    5            1   January      1.0  2019

   WeekNumber  ID
0           1   1
1           1   2
2           1   3
3           1   4
4           1   5

In [84]:
# Shape and column check----Sales
print(df_Sales.shape)
print(df_Sales.columns)
# Null values
print(df_Sales.isnull().sum())
# Data types
print(df_Sales.dtypes)

# Sample data
print(df_Sales.head())

(51233, 18)
Index(['SaleID', 'DateKey', 'ProductID', 'CustomerID', 'StoreID',
       'QuantitySold', 'UnitPrice', 'DiscountPct', 'TotalAmount', 'NetAmount',
       'PaymentMethod', 'CleanedDate', 'IsInvalidDate', 'CleanedUnitPrice',
       'CleanedDiscountPct', 'CleanedTotalAmount', 'CleanedNetAmount',
       'CleanedPaymentMethod'],
      dtype='object')
SaleID                    0
DateKey                   0
ProductID                 0
CustomerID                0
StoreID                   0
QuantitySold              0
UnitPrice                 0
DiscountPct               0
TotalAmount               0
NetAmount                 0
PaymentMethod             0
CleanedDate             706
IsInvalidDate             0
CleanedUnitPrice          0
CleanedDiscountPct        0
CleanedTotalAmount        0
CleanedNetAmount          0
CleanedPaymentMethod      0
dtype: int64
SaleID                   object
DateKey                  object
ProductID                object
CustomerID               object
StoreID                  object
QuantitySold              int64
UnitPrice               float64
DiscountPct             float64
TotalAmount             float64
NetAmount               float64
PaymentMethod            object
CleanedDate              object
IsInvalidDate              bool
CleanedUnitPrice        float64
CleanedDiscountPct      float64
CleanedTotalAmount      float64
CleanedNetAmount        float64
CleanedPaymentMethod     object
dtype: object
     SaleID     DateKey ProductID CustomerID StoreID  QuantitySold  \
0  S0000001    20230413    P00698     C03304   ST023            13
1  S0000002    20200728    P00969     C01751   ST022             4
2  S0000003    20190205    P00829     C07584   ST015             1
3  S0000004  21/04/2021    P00336     C07513   ST008            10
4  S0000005    20241220    P00335     C02899   ST018             5

    UnitPrice  DiscountPct  TotalAmount    NetAmount PaymentMethod  \
0  107.209999       0.1171  1393.729980  1230.520020   Credit Card
1  108.500000       0.8500   434.000000    65.099998   Credit Card
2   23.049999       0.1591    23.049999    19.379999   Credit Card
3  151.110001       0.0827  1511.099976  1386.130005        Online
4   38.119999       0.0248   190.600006   185.869995    Debit Card

  CleanedDate  IsInvalidDate  CleanedUnitPrice  CleanedDiscountPct  \
0  2023-04-13          False            107.21              0.1171
1  2020-07-28          False            108.50              0.8500
2  2019-02-05          False             23.05              0.1591
3  2021-04-21          False            151.11              0.0827
4  2024-12-20          False             38.12              0.0248

   CleanedTotalAmount  CleanedNetAmount CleanedPaymentMethod
0             1393.73           1230.52          Credit Card
1              434.00             65.10          Credit Card
2               23.05             19.38          Credit Card
3             1511.10           1386.13               Online
4              190.60            185.87           Debit Card

In [36]:
# Shape and column check----Stores
print(df_Stores.shape)
print(df_Stores.columns)
# Null values
print(df_Stores.isnull().sum())
# Data types
print(df_Stores.dtypes)

# Sample data
print(df_Stores.head())

(5, 5)
Index(['StoreID', 'StoreName', 'City', 'Region', 'Manager'], dtype='object')
StoreID      0
StoreName    0
City         0
Region       0
Manager      0
dtype: int64
StoreID      object
StoreName    object
City         object
Region       object
Manager      object
dtype: object
  StoreID                StoreName       City            Region    Manager
0   ST001         Downtown Toronto    Toronto           Ontario   A. Singh
1   ST002                Polo Park   Edmonton           Alberta     J. Roy
2   ST003  Metropolis at Metrotown   Winnipeg          Manitoba  P. Nguyen
3   ST004  Halifax Shopping Centre    Toronto           Ontario  T. Nguyen
4   ST005                Polo Park  Vancouver  British Columbia    T. Chen

In [45]:
# Shape and column check----Customers
print(df_customers.shape)
print(df_customers.columns)
# Null values
print(df_customers.isnull().sum())
# Data types
print(df_customers.dtypes)

# Sample data
print(df_customers.head())

(10000, 8)
Index(['CustomerID', 'FullName', 'Gender', 'Age', 'City', 'Region', 'Income',
       'CleanedIncome'],
      dtype='object')
CustomerID          0
FullName            0
Gender           4578
Age                 0
City                0
Region              0
Income            988
CleanedIncome     988
dtype: int64
CustomerID        object
FullName          object
Gender            object
Age                int64
City              object
Region            object
Income            object
CleanedIncome    float64
dtype: object
  CustomerID       FullName  Gender  Age         City            Region  \
0     C00001   Nishi  Patel  Female   27      Toronto           Ontario
1     C00002      Zara  Das   Other   59  Mississauga           Ontario
2     C00003    Ethan  Chen  Female   65    Vancouver  British Columbia
3     C00004  Alex  Johnson    None   44     Montreal            Quebec
4     C00005   Aria  Martin   Other   60    Vancouver  British Columbia

          Income  CleanedIncome
0        $65,000        65000.0
1       $24500.0        24500.0
2      25800.0$         25800.0
3  CAD 127,500.0       127500.0
4      37300.0$         37300.0

In [58]:
# Any remaining non-numeric?
print(df_customers['CleanedIncome'].isnull().sum())
print(df_customers['CleanedIncome'].dtype)

988
float64

In [59]:
df_customers.drop_duplicates(subset='CustomerID', inplace=True)

In [60]:
# Gender distribution
print(df_customers['Gender'].value_counts())

Gender
Unknown    4578
Other      1851
Female     1790
Male       1781
Name: count, dtype: int64

In [64]:
# Age groups
df_customers['Age_Group'] = pd.cut(df_customers['Age'],
                                   bins=[0, 25, 35, 50, 65, 100],
                                   labels=['18-25', '26-35', '36-50', '51-65', '65+'])

In [65]:
# Income range
df_customers['Income_Bracket'] = pd.cut(df_customers['CleanedIncome'],
                                        bins=[0, 30000, 60000, 100000, 150000],
                                        labels=['Low', 'Mid', 'High', 'Very High'])

In [61]:
query_Customers= "SELECT * FROM Customers_Staging"
df_customers['Gender'].unique()

array(['Female', 'Other', 'Unknown', 'Male'], dtype=object)

In [47]:
df_customers['Gender'].value_counts(dropna=False)

Gender
None      4578
Other     1851
Female    1790
Male      1781
Name: count, dtype: int64

In [63]:
df_customers['Gender'].isna().sum()
df_customers['Gender'].unique()

array(['Female', 'Other', 'Unknown', 'Male'], dtype=object)

In [49]:
import numpy as np

df_customers['Gender'] = df_customers['Gender'].replace('None', np.nan)

In [50]:
df_customers['Gender'].isna().sum()

np.int64(4578)

In [55]:
df_customers['Gender'] = df_customers['Gender'].fillna('Unknown')
df_customers['Gender'].unique()

array(['Female', 'Other', 'Unknown', 'Male'], dtype=object)

In [62]:
df_customers['Gender'].value_counts(dropna=False)

Gender
Unknown    4578
Other      1851
Female     1790
Male       1781
Name: count, dtype: int64

In [67]:
print(df_customers.head(10))

  CustomerID        FullName   Gender  Age         City            Region  \
0     C00001    Nishi  Patel   Female   27      Toronto           Ontario
1     C00002       Zara  Das    Other   59  Mississauga           Ontario
2     C00003     Ethan  Chen   Female   65    Vancouver  British Columbia
3     C00004   Alex  Johnson  Unknown   44     Montreal            Quebec
4     C00005    Aria  Martin    Other   60    Vancouver  British Columbia
5     C00006    Aria  Kapoor  Unknown   20      Halifax       Nova Scotia
6     C00007  Olivia  Gagnon  Unknown   41     Brampton           Ontario
7     C00008    Aria  Nguyen  Unknown   22      Halifax       Nova Scotia
8     C00009  Emma  Tremblay  Unknown   33      Toronto           Ontario
9     C00010    Zara  Kapoor     Male   52       Ottawa           Ontario

          Income  CleanedIncome Age_Group Income_Bracket
0        $65,000        65000.0     26-35           High
1       $24500.0        24500.0     51-65            Low
2      25800.0$         25800.0     51-65            Low
3  CAD 127,500.0       127500.0     36-50      Very High
4      37300.0$         37300.0     51-65            Mid
5      20500.0$         20500.0     18-25            Low
6    60900.0 CAD        60900.0     36-50           High
7    62200.0 CAD        62200.0     18-25           High
8   CAD 24,100.0        24100.0     26-35            Low
9    39500.0 CAD        39500.0     51-65            Mid

In [74]:
#Product Data  Cleaning
df_products['ProductID'].isna().sum()
df_products['ProductID'].duplicated().sum()
df_products['ProductName'].isna().sum()
df_products['ProductName'] = df_products['ProductName'].str.title().str.strip()
print(df_products['Category'].unique())
print(df_products['SubCategory'].unique())
df_products['Brand'] = df_products['Brand'].str.title().str.strip()
df_products['Brand'].value_counts()

['Jewelry & Accessories' 'Electronics' 'Home & Kitchen' 'Beauty' 'Apparel'
 'House & Kitchen']
['Rings' 'Smartwatch' 'Earrings' 'Furniture' 'Cookware' 'Watches'
 'Storage' 'Earbuds' 'Nailcare' 'Speaker' 'Keyboard' 'Dresses' 'Makeup'
 'Jackets' 'T-Shirts' 'Jeans' 'Bracelets' 'Skincare' 'Decor' 'Perfume'
 'Haircare' 'Headphones' 'Laptop' 'Necklaces' 'SmartWatch' 'Shoes'
 'Necklace']

Brand
Silverstone    124
Bluespruce     113
Harbor         104
Auroraco       103
Everglow       102
Polartech       99
Citrine         97
Mapleleaf       91
Vaarnika        83
Trustyle        83
Unknown          1
Name: count, dtype: int64

In [75]:
# Null check
df_products[['CleanedCostPrice', 'CleanedSellingPrice']].isna().sum()

# Negative/zero
df_products[(df_products['CleanedCostPrice'] <= 0) | (df_products['CleanedSellingPrice'] <= 0)]

# Invalid pricing
df_products[df_products['CleanedSellingPrice'] < df_products['CleanedCostPrice']]

Empty DataFrame
Columns: [ProductID, ProductName, Category, SubCategory, Brand, CostPrice, SellingPrice, CleanedCostPrice, CleanedSellingPrice]
Index: []

In [ ]:
df_products.drop(['CostPrice', 'SellingPrice'], axis=1, inplace=True)

In [79]:
df_products[df_products['Brand'] == 'Unknown']
df_products = df_products[df_products['Brand'] != 'Unknown']

In [80]:
print(df_products['Brand'].value_counts())

Brand
Silverstone    124
Bluespruce     113
Harbor         104
Auroraco       103
Everglow       102
Polartech       99
Citrine         97
Mapleleaf       91
Vaarnika        83
Trustyle        83
Name: count, dtype: int64

In [82]:
df_dates['Quarter'] = df_dates['Quarter'].astype('Int64')  # allows for nulls safely

In [83]:
df_dates['DateKey'].is_unique  # should return True

True

In [86]:
df_Sales['CleanedDate'].isnull().sum()

np.int64(706)

In [89]:
df_Sales['CleanedPaymentMethod'] = df_Sales['PaymentMethod'].str.title().str.strip()

In [91]:
df_Sales['CleanedPaymentMethod'].value_counts()

CleanedPaymentMethod
Credit Card     20205
Debit Card      10595
Online           9823
Cash             3871
Debit            1938
Credit-Card      1898
Card              965
Cash$             960
Credit  Card      656
Debit  Card       322
Name: count, dtype: int64

In [105]:
df_Sales['CleanedPaymentMethod'].replace({'Credit  Card': 'Credit Card'}, inplace=True)
df_Sales['CleanedPaymentMethod'].replace({'Card': 'Other Card'}, inplace=True)

In [106]:
df_Sales['CleanedPaymentMethod'].value_counts()

CleanedPaymentMethod
Credit Card    22759
Debit Card     12855
Online          9823
Cash            4831
Other Card       965
Name: count, dtype: int64

In [109]:
# Add a new column for better readability
df_Sales['DiscountPercentage'] = (df_Sales['CleanedDiscountPct'] * 100).round(2)

In [112]:
def discount_category(pct):
    if pct >= 30:
        return 'High Discount'
    elif pct >= 10:
        return 'Medium Discount'
    elif pct > 0:
        return 'Low Discount'
    else:
        return 'No Discount'

df_Sales['DiscountCategory'] = df_Sales['DiscountPercentage'].apply(discount_category)

In [113]:
print(df_Sales.head())

     SaleID     DateKey ProductID CustomerID StoreID  QuantitySold  \
0  S0000001    20230413    P00698     C03304   ST023            13
1  S0000002    20200728    P00969     C01751   ST022             4
2  S0000003    20190205    P00829     C07584   ST015             1
3  S0000004  21/04/2021    P00336     C07513   ST008            10
4  S0000005    20241220    P00335     C02899   ST018             5

    UnitPrice  DiscountPct  TotalAmount    NetAmount PaymentMethod  \
0  107.209999       0.1171  1393.729980  1230.520020   Credit Card
1  108.500000       0.8500   434.000000    65.099998   Credit Card
2   23.049999       0.1591    23.049999    19.379999   Credit Card
3  151.110001       0.0827  1511.099976  1386.130005        Online
4   38.119999       0.0248   190.600006   185.869995    Debit Card

  CleanedDate  IsInvalidDate  CleanedUnitPrice  CleanedDiscountPct  \
0  2023-04-13          False            107.21              0.1171
1  2020-07-28          False            108.50              0.8500
2  2019-02-05          False             23.05              0.1591
3  2021-04-21          False            151.11              0.0827
4  2024-12-20          False             38.12              0.0248

   CleanedTotalAmount  CleanedNetAmount CleanedPaymentMethod  \
0             1393.73           1230.52          Credit Card
1              434.00             65.10          Credit Card
2               23.05             19.38          Credit Card
3             1511.10           1386.13               Online
4              190.60            185.87           Debit Card

   DiscountPercentage DiscountCategory
0               11.71  Medium Discount
1               85.00    High Discount
2               15.91  Medium Discount
3                8.27     Low Discount
4                2.48     Low Discount

In [115]:
# Shape and column check----Stores
print(df_Stores.shape)
print(df_Stores.columns)
# Null values
print(df_Stores.isnull().sum())
# Data types
print(df_Stores.dtypes)

# Sample data
print(df_Stores.head())

(24, 5)
Index(['StoreID', 'StoreName', 'City', 'Region', 'Manager'], dtype='object')
StoreID      0
StoreName    0
City         0
Region       0
Manager      1
dtype: int64
StoreID      object
StoreName    object
City         object
Region       object
Manager      object
dtype: object
  StoreID                StoreName       City            Region    Manager
0   ST001         Downtown Toronto    Toronto           Ontario   A. Singh
1   ST002                Polo Park   Edmonton           Alberta     J. Roy
2   ST003  Metropolis at Metrotown   Winnipeg          Manitoba  P. Nguyen
3   ST004  Halifax Shopping Centre    Toronto           Ontario  T. Nguyen
4   ST005                Polo Park  Vancouver  British Columbia    T. Chen

In [120]:
df_Stores['Manager'].fillna('Unassigned', inplace=True)

In [121]:
print(df_Stores.isnull().sum())

StoreID      0
StoreName    0
City         0
Region       0
Manager      0
dtype: int64

In [125]:
df_Sales.to_csv('Sales.csv', index=False)
df_Stores.to_csv('Stores.csv', index=False)
df_products.to_csv('Products.csv', index=False)
df_dates.to_csv('Date.csv', index=False)
df_customers.to_csv('Customers.csv', index=False)